<app-game-area></app-game-area>

<h2>Connect to server</h2>

<input [(ngModel)]="socketUrl" placeholder="ws://localhost:8081">
<button (click)="connect()">
  Connect
</button>
<br>

<input [(ngModel)]="message" placeholder="message">
<button (click)="send()">Send raw message</button>
<br>

<input [(ngModel)]="playerName" placeholder="Hans">
<button (click)="join()">Join</button>
<button (click)="leave()">Leave</button>
<button (click)="startGame()">Start game</button>

<div>
  <b>Log:</b>
  <ul>
    <li *ngFor="let item of serverLog">
      {{item}}
    </li>
  </ul>
</div>
